*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

.facebook {
  background: #3b5998; }

.twitter {
  background: #55acee; }

.gplus {
  background: #dd4b39; }

.instagram {
  background: #bc2a8d; }

.vimeo {
  background: #1ab7ea; }

.pinterest {
  background: #bd081c; }

.youtube {
  background: #cd201f; }

.linkedin {
  background: #0077B5; }

.buffer {
  background: #222222; }

.mix {
  background: #f77e25; }

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  html {
    font-size: 1.1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: calc(1.1rem + 0.2 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      html {
        font-size: 1.3rem; } }

body {
  background: #ffffff;
  color: #2c2e35;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  -ms-scroll-chaining: none;
  overscroll-behavior: none; }

a {
  text-decoration: none; }
  a {
    color: #2c2e35;
    -webkit-transition: all 0.24s ease-out;
    -o-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out; }
  a:hover {
    color: #448aff; }
  a:active {
    color: #448aff; }
  a:focus {
    color: #448aff; }

p,
ul,
ol,
dl,
table,
hr {
  margin-top: calc(1.54286rem + 0.5vw); }

blockquote,
figure {
  margin-top: calc(2.31429rem + 0.5vw);
  margin-bottom: calc(2.31429rem + 0.5vw); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2e35;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin-top: calc(2.31429rem + 0.5vw); }

h1 {
  margin: 0; }
  h1 {
    font-size: 1.4729rem; }
    @media screen and (min-width: 20rem) {
      h1 {
        font-size: calc(1.4729rem + 0.69653 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      h1 {
        font-size: 2.16943rem; } }
  .main--full h1 {
    font-size: 1.4729rem; }
    @media screen and (min-width: 20rem) {
      .main--full h1 {
        font-size: calc(1.4729rem + 1.33551 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      .main--full h1 {
        font-size: 2.8084rem; } }

h2 {
  font-size: 1.4729rem; }
  @media screen and (min-width: 20rem) {
    h2 {
      font-size: calc(1.4729rem + 0.43382 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h2 {
      font-size: 1.90672rem; } }

h3 {
  font-size: 1.29454rem; }
  @media screen and (min-width: 20rem) {
    h3 {
      font-size: calc(1.29454rem + 0.38129 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h3 {
      font-size: 1.67583rem; } }

h4 {
  font-size: 1.13778rem; }
  @media screen and (min-width: 20rem) {
    h4 {
      font-size: calc(1.13778rem + 0.33512 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h4 {
      font-size: 1.4729rem; } }

h5 {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    h5 {
      font-size: calc(1rem + 0.29454 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h5 {
      font-size: 1.29454rem; } }

h6 {
  font-size: 0.87891rem; }
  @media screen and (min-width: 20rem) {
    h6 {
      font-size: calc(0.87891rem + 0.25887 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h6 {
      font-size: 1.13778rem; } }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: calc(0.77143rem + 0.5vw); }

b,
strong {
  font-weight: 500; }

blockquote {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0 10%; }
  blockquote cite {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 0.87891rem;
    font-style: normal;
    padding-top: 0.51429rem; }
  blockquote > :nth-child(1) {
    margin-top: 0; }
  blockquote:before {
    color: #e1e2e3;
    display: block;
    font: normal 400%/0.9 "Roboto", sans-serif;
    height: 0;
    content: "''";
    margin-left: -.55em; }
    @media all and (min-width: 37.5em) {
      blockquote:before {
        margin-left: -.70em; } }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.25714rem 1.02857rem; }

dl dt {
  font-weight: 500; }

pre {
  margin: calc(1.02857rem + 0.25vw) 0 0;
  padding: 1.54286rem 3.08571rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f7f7f8;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.9375rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #e1e2e3;
    padding: 0.77143rem 1.28571rem; }
  table tr:nth-child(2n) {
    background: #f4f5f5; }
  table td {
    padding: 0.77143rem 1.28571rem; }

figcaption {
  color: #84888e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.77248rem;
  margin: 1.02857rem 0 0;
  text-align: center; }

sub,
sup {
  font-size: 65%; }

hr {
  background: 0 0;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center; }
  hr::before {
    content: "\2022 \2022 \2022";
    color: #2c2e35;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1rem;
    padding-left: 1rem; }

.btn, [type=button],
[type=submit],
button {
  background: #448aff;
  border: 1px solid #448aff;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: 500 0.7242rem "Roboto", sans-serif;
  letter-spacing: 0.02rem;
  padding: 0.64286rem 1.54286rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus, .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    background: #2c2e35;
    border-color: #2c2e35;
    color: #ffffff; }
  .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    outline: none; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: #f4f5f5;
    border-color: #cacbcd;
    color: #6b6d72;
    cursor: not-allowed; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.51429rem; } }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #d5d5d7;
  border-radius: 3px;
  margin: 0 0 1.54286rem;
  padding: 1.54286rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 500; }

label {
  font-weight: 500;
  margin: 0 1.02857rem 0.77143rem 0; }

option {
  font-weight: 400; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: 1px solid #d5d5d7;
  border-radius: 3px;
  font-size: 0.82397rem;
  outline: none;
  padding: 0.38571rem 0.77143rem;
  width: 100%;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    -webkit-box-shadow: inset 0 0 2px #448aff;
    box-shadow: inset 0 0 2px #448aff; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #d5d5d7;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.02857rem;
      line-height: 1.02857rem;
      margin-right: 0.51429rem;
      vertical-align: text-top;
      text-align: center;
      width: 1.02857rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23448aff'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23448aff'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.54286rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3.08571rem; }

select[multiple] {
  border-radius: 6px;
  padding: 1.54286rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #d5d5d7; }
  select[multiple]:focus {
    border-color: #448aff; }
  select[multiple]:disabled {
    background-color: #f4f5f5;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #d5d5d7; }

textarea {
  border-radius: 6px;
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

.content {
  display: grid;
  grid-column-gap: calc(1.28571rem + 0.5vw);
  grid-template-columns: 1fr auto 1fr;
  margin-top: 3.34286rem; }
  @media all and (min-width: 56.25em) {
    .content {
      grid-column-gap: calc(2.57143rem + 0.5vw);
      grid-template-columns: 1fr minmax(auto, 46rem) calc(17rem + 1.28571rem + 0.5vw) 1fr; } }

.infobar {
  grid-column: 2/3; }
  @media all and (min-width: 56.25em) {
    .infobar {
      grid-column: 2/4; } }

.main {
  grid-column: 2/3;
  margin: 2.57143rem 0; }
  @media all and (min-width: 56.25em) {
    .main--full {
      grid-column: 2/4; } }

.sidebar {
  grid-column: 2/3;
  padding: 2.57143rem 0 calc(2.57143rem + 0.5vw); }
  @media all and (min-width: 56.25em) {
    .sidebar {
      grid-column: 3/4; } }

.footer {
  grid-column: 2/3; }
  @media all and (min-width: 56.25em) {
    .footer {
      grid-column: 2/4; } }

@media all and (min-width: 37.5em) and (max-width: 56.1875em) {
  .cat {
    -ms-flex-line-pack: start;
    align-content: start;
    display: grid;
    grid-column-gap: calc(0.77143rem + 0.5vw); } }

@media all and (min-width: 75em) {
  .cat {
    -ms-flex-line-pack: start;
    align-content: start;
    display: grid;
    grid-column-gap: calc(0.77143rem + 0.5vw); } }

.cat--layout-1col {
  grid-template-columns: repeat(1, 1fr); }
  .cat--layout-1col .cat__item h2 {
    font-size: 1.21363rem; }
    @media screen and (min-width: 20rem) {
      .cat--layout-1col .cat__item h2 {
        font-size: calc(1.21363rem + 0.4622 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      .cat--layout-1col .cat__item h2 {
        font-size: 1.67583rem; } }

.cat--layout-2col {
  grid-template-columns: repeat(2, 1fr); }
  .cat--layout-2col-1-2 {
    grid-template-columns: repeat(2, 1fr); }
    .cat--layout-2col-1-2 .cat__item:nth-child(3n-2) {
      grid-column: span 2; }
      .cat--layout-2col-1-2 .cat__item:nth-child(3n-2) h2 {
        font-size: 1.21363rem; }
        @media screen and (min-width: 20rem) {
          .cat--layout-2col-1-2 .cat__item:nth-child(3n-2) h2 {
            font-size: calc(1.21363rem + 0.25927 * ((100vw - 20rem) / 220)); } }
        @media screen and (min-width: 240rem) {
          .cat--layout-2col-1-2 .cat__item:nth-child(3n-2) h2 {
            font-size: 1.4729rem; } }
  .cat--layout-2col-2-1 {
    grid-template-columns: repeat(2, 1fr); }
    .cat--layout-2col-2-1 .cat__item:nth-child(3n) {
      grid-column: span 2; }
      .cat--layout-2col-2-1 .cat__item:nth-child(3n) h2 {
        font-size: 1.21363rem; }
        @media screen and (min-width: 20rem) {
          .cat--layout-2col-2-1 .cat__item:nth-child(3n) h2 {
            font-size: calc(1.21363rem + 0.25927 * ((100vw - 20rem) / 220)); } }
        @media screen and (min-width: 240rem) {
          .cat--layout-2col-2-1 .cat__item:nth-child(3n) h2 {
            font-size: 1.4729rem; } }
  .cat--layout-2col-1-4 {
    grid-template-columns: repeat(2, 1fr); }
    .cat--layout-2col-1-4 .cat__item:nth-child(5n-4) {
      grid-column: span 2; }
      .cat--layout-2col-1-4 .cat__item:nth-child(5n-4) h2 {
        font-size: 1.21363rem; }
        @media screen and (min-width: 20rem) {
          .cat--layout-2col-1-4 .cat__item:nth-child(5n-4) h2 {
            font-size: calc(1.21363rem + 0.25927 * ((100vw - 20rem) / 220)); } }
        @media screen and (min-width: 240rem) {
          .cat--layout-2col-1-4 .cat__item:nth-child(5n-4) h2 {
            font-size: 1.4729rem; } }
  .cat--layout-2col-4-1 {
    grid-template-columns: repeat(2, 1fr); }
    .cat--layout-2col-4-1 .cat__item:nth-child(5n) {
      grid-column: span 2; }
      .cat--layout-2col-4-1 .cat__item:nth-child(5n) h2 {
        font-size: 1.21363rem; }
        @media screen and (min-width: 20rem) {
          .cat--layout-2col-4-1 .cat__item:nth-child(5n) h2 {
            font-size: calc(1.21363rem + 0.25927 * ((100vw - 20rem) / 220)); } }
        @media screen and (min-width: 240rem) {
          .cat--layout-2col-4-1 .cat__item:nth-child(5n) h2 {
            font-size: 1.4729rem; } }
  @media all and (min-width: 37.5em) {
    .cat--layout-2col__2span {
      grid-column: span 2; } }

.topbar {
  background: #FDE51F;
  height: 3.34286rem;
  padding: 0 calc(1.28571rem + 0.5vw);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  @media all and (min-width: 56.25em) {
    .topbar {
      padding: 0 calc(2.57143rem + 0.5vw); } }
  .topbar__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.34286rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(46rem + 17rem + 3.85714rem + 1vw);
    position: relative;
    width: 100%; }

.logo {
  color: #333333 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.1rem;
  text-transform: uppercase; }
  .logo {
    font-size: 1.29454rem; }
    @media screen and (min-width: 20rem) {
      .logo {
        font-size: calc(1.29454rem + 0.17836 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      .logo {
        font-size: 1.4729rem; } }

.navbar__menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #ffffff;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 3.34286rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      width: 100%;
      z-index: 1; }
      .navbar__menu > li {
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid #e1e2e3;
        padding: 0; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      overflow: visible; } }
  .navbar__menu li {
    color: #ffffff;
    font-size: 0.7242rem;
    letter-spacing: 0.01rem;
    padding: 0;
    text-transform: uppercase; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        margin: 0 0 0 1.54286rem;
        position: relative;
        z-index: 2001; } }
    .navbar__menu li:hover, .navbar__menu li[aria-expanded="true"] {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul, .navbar__menu li[aria-expanded="true"] > ul {
          display: block; }
          .navbar__menu li:hover > ul li, .navbar__menu li[aria-expanded="true"] > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #ffffff;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 1.02857rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #ffffff; }
    .navbar__menu li span:hover {
      cursor: default; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #ffffff;
    -webkit-box-shadow: 0 0 6px rgba(44, 46, 53, 0.15);
    box-shadow: 0 0 6px rgba(44, 46, 53, 0.15);
    display: none;
    left: auto;
    margin: 10px 0 0;
    padding: 0.51429rem 0;
    position: absolute;
    top: 100%;
    width: auto;
    z-index: 2000; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 10px;
      left: 0;
      position: absolute;
      top: -10px;
      width: 100%; }
    .navbar__submenu li {
      border: none;
      font-weight: normal;
      font-size: 0.87891rem;
      letter-spacing: normal;
      text-transform: none;
      margin: 0; }
      .navbar__submenu li > a,
      .navbar__submenu li > span {
        color: #84888e;
        padding: 0.51429rem 2.05714rem; } }
      @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
        .navbar__submenu li > a,
        .navbar__submenu li > span {
          padding: 0.25714rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li:hover > a {
        background: #f7f7f8; }
        .navbar__submenu li:hover > a:hover {
          color: #2c2e35; }
      .navbar__submenu li ul {
        left: 90%;
        top: 0;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: 90%;
          top: 0; }
    .col-2 .navbar__submenu {
      -webkit-column-count: 2;
      column-count: 2; }
    .col-3 .navbar__submenu {
      -webkit-column-count: 3;
      column-count: 3; } }

.navbar__toggle {
  background: none !important;
  border: none;
  border-radius: 0;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  text-indent: -99999rem;
  width: 1.6rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #ffffff;
    content: "";
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%; }
  .navbar__toggle:hover, .navbar__toggle:focus {
    border-color: #ffffff; }

.is-opened > ul {
  opacity: 1;
  overflow: auto;
  visibility: visible; }
  .is-opened > ul li {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    .is-opened > ul li > a,
    .is-opened > ul li > span {
      color: #84888e;
      padding-left: 0.51429rem;
      padding-right: 0.51429rem; }
      .is-opened > ul li > a:hover,
      .is-opened > ul li > span:hover {
        color: #2c2e35; }
    .is-opened > ul li ul {
      height: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%);
      visibility: hidden; }
      .is-opened > ul li ul li {
        border-top: 1px solid #e1e2e3; }
    .is-opened > ul li:hover > ul {
      height: auto;
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      visibility: visible; }
    .is-opened > ul li[aria-expanded="true"] > ul {
      display: block; }

@media all and (max-width: 56.1875em) {
  .has-submenu:after {
    background: #ffffff;
    border-right: 1px solid #2c2e35;
    border-bottom: 1px solid #2c2e35;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 1.4rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px; } }

@media all and (min-width: 56.25em) {
  .has-submenu {
    padding-right: 1.02857rem !important; }
    .has-submenu:after {
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 0;
      top: 0.45rem;
      width: 0; } }

.sidebar {
  font-size: 0.87891rem; }
  @media all and (min-width: 56.25em) {
    .sidebar {
      border-left: 1px solid #e1e2e3;
      padding-left: calc(1.28571rem + 0.5vw); } }

.box {
  border-top: 1px solid #e1e2e3;
  margin-top: calc(2.05714rem + 0.5vw);
  padding-top: calc(2.05714rem + 0.25vw); }
  .sidebar .box:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }
  .box--gray {
    background: #f7f7f8;
    margin-bottom: calc(-2.05714rem - 0.5vw);
    padding: calc(1.28571rem + 0.5vw); }
    .box--gray > .box__title {
      border-top: none;
      color: #2c2e35; }
  .box__title {
    color: #b4b9c1;
    font-weight: 500;
    margin: 0 0 calc(1.28571rem + 0.25vw); }
    .box__title {
      font-size: 1.13778rem; }
      @media screen and (min-width: 20rem) {
        .box__title {
          font-size: calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 220)); } }
      @media screen and (min-width: 240rem) {
        .box__title {
          font-size: 1.38084rem; } }
  .box ul {
    margin: 0; }

.featured-posts,
.authors {
  list-style: none; }
  .featured-posts > li,
  .authors > li {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 calc(1.28571rem + 0.25vw);
    padding: 0; }
    .featured-posts > li:last-child,
    .authors > li:last-child {
      margin: 0; }
  .featured-posts__img,
  .authors__img {
    margin-right: 1.5rem;
    max-width: 4.5rem; }
  .featured-posts__title,
  .authors__title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.3; }

.tags > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 0.25714rem; }
  .tags > li:last-child {
    padding: 0; }

.newsletter {
  color: #84888e;
  font-size: 0.77248rem;
  line-height: 1.3;
  margin-bottom: 0.51429rem; }
  .newsletter__description {
    margin-bottom: calc(0.77143rem + 0.5vw); }
  .newsletter input {
    margin-top: 0.51429rem;
    width: 100%; }
  .newsletter label {
    display: block;
    margin: 0.51429rem 0 0; }
  .newsletter ul {
    margin: calc(0.77143rem + 0.5vw) 0; }
    .newsletter ul li {
      padding: 0;
      list-style: none;
      position: relative; }
      .newsletter ul li input[type=checkbox] {
        left: 0;
        width: 1.02857rem; }
      .newsletter ul li label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 400; }
        .newsletter ul li label:before {
          -ms-flex-negative: 0;
          flex-shrink: 0; }

.follow > a {
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font: 500 0.7242rem "Roboto", sans-serif;
  letter-spacing: 0.02rem;
  margin: 0 1% 0.25714rem 0;
  padding: 0.64286rem 0.77143rem 0.64286rem 0.25714rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  @media all and (min-width: 37.5em) and (max-width: 56.1875em) {
    .follow > a {
      width: 48%; } }
  .follow > a:before {
    content: "";
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    height: 1rem;
    left: 1.3rem;
    width: 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .follow > a:hover {
    background: #2c2e35;
    color: #ffffff;
    text-decoration: none; }

.follow .u-icon {
  fill: white;
  float: left;
  left: 0.25714rem;
  margin: 0 0.51429rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.u-small {
  color: rgba(132, 136, 142, 0.7);
  font-size: 0.6365rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-transform: uppercase; }

.u-ads {
  text-align: center; }
  .u-ads__title {
    color: #b4b9c1;
    font-size: 0.55942rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    margin: 0 0 0.51429rem;
    text-transform: uppercase; }
    .u-ads__title:before, .u-ads__title:after {
      content: "- "; }

.u-icon {
  display: inline-block;
  height: 16px;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 16px; }

.u-comment-count {
  background: #448aff;
  border-radius: 3px;
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.25714rem 0.51429rem;
  right: calc(1.02857rem + 0.5vw);
  position: absolute;
  top: calc(1.02857rem + 0.5vw); }
  .u-comment-count:after {
    border-style: solid;
    border-width: 7px 7px 0 0;
    border-color: #448aff transparent transparent transparent;
    bottom: -7px;
    content: '';
    display: block;
    height: 0;
    left: 8px;
    position: absolute;
    -webkit-transition: all 0.24s ease-out;
    -o-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out;
    width: 0; }
  .u-comment-count:hover {
    background: #2c2e35; }
    .u-comment-count:hover:after {
      border-color: #2c2e35 transparent transparent transparent; }
  @media all and (min-width: 37.5em) {
    .main--full .u-comment-count {
      right: calc(2.05714rem + 0.5vw); } }

@media all and (max-width: 37.4375em) {
  .u-inner {
    padding: 0; } }

@media all and (min-width: 37.5em) and (max-width: 56.1875em) {
  .u-inner {
    padding: 0 calc(3.08571rem + 0.5vw); } }

@media all and (min-width: 56.25em) and (max-width: 74.9375em) {
  .u-inner {
    padding: 0; } }

@media all and (min-width: 75em) {
  .u-inner {
    padding: 0 calc(3.08571rem + 0.5vw); } }

@media all and (min-width: 56.25em) and (max-width: 74.9375em) {
  .main--full .u-inner {
    padding: 0 calc(3.08571rem + 0.5vw); } }

.u-header {
  background: #ffffff;
  margin: /*-2.31429rem*/0rem calc(1.02857rem + 0.5vw) 0;
  padding: 1.28571rem 1.54286rem 0;
  position: relative; }
  .u-header__meta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.4;
    margin-top: calc(1.28571rem + 0.25vw); }
    .u-header__meta > div * {
      margin-right: 0.77143rem;
      white-space: nowrap; }
  .u-header__avatar {
    border-radius: 50%;
    height: 1.8rem;
    margin-right: 0.77143rem;
    width: 1.8rem; }

.u-author__avatar {
  border-radius: 50%;
  height: 4.11429rem;
  margin-bottom: 1.02857rem;
  width: 4.11429rem; }
  @media all and (min-width: 37.5em) {
    .u-author__avatar {
      float: left; }
      .u-author__avatar + div {
        margin-left: 6.68571rem; } }

.u-author__name {
  margin: 0; }

.u-tag {
  background: #84888e;
  border-radius: 3px;
  color: #ffffff !important;
  font-size: 0.59672rem;
  padding: 0 0.38571rem; }
  .u-tag:hover {
    background: #2c2e35; }
  .u-tag--1 {
    background: #ff8f00; }
  .u-tag--2 {
    background: #ec407a; }
  .u-tag--3 {
    background: #00bfa5; }
  .u-tag--4 {
    background: #ab47bc; }
  .u-tag--5 {
    background: #448aff; }
  .u-tag--6 {
    background: #72b57a; }
  .u-tag--7 {
    background: #000000; }
  .u-tag--8 {
    background: #546e7a; }
  .u-tag--9 {
    background: #8d6e63; }
  .u-tag--10 {
    background: #0f4b7c; }
  .u-tag--11 {
    background: #5c6bc0; }
  .u-tag--12 {
    background: #90a4ae; }

.infobar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e1e2e3;
  color: #84888e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7242rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.77143rem 0; }
  @media all and (max-width: 37.4375em) {
    .infobar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  @media all and (max-width: 37.4375em) {
    .infobar__update {
      display: none; } }
  .infobar__search [type="search"] {
    background: #eef2f8 url(/svg/search.svg) no-repeat 95% 45%;
    background-size: 15px 14px;
    border: none;
    border-radius: 20px;
    font-size: 0.77248rem;
    padding: 0.19286rem 2.57143rem 0.19286rem 1.28571rem;
    min-width: 15rem; }

.cat__item {
  margin-bottom: calc(2.57143rem + 0.5vw); }
  .cat__item-inner {
    position: relative; }
  .cat__item-image-link {
    display: block;
    height: 0;
    position: relative;
    width: 100%; }
  .cat__item-image {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .cat__item h2 {
    font-size: 1.21363rem;
    margin: 0; }
  .cat__item-tag {
    left: 0;
    position: absolute;
    top: -1.8rem; }

.cat .u-ads {
  border-top: 1px solid #e1e2e3;
  border-bottom: 1px solid #e1e2e3;
  margin-bottom: calc(2.57143rem + 0.5vw);
  padding-top: calc(0.51429rem + 0.5vw);
  padding-bottom: calc(1.28571rem + 0.5vw); }
  .cat .u-ads--mt {
    margin-bottom: 0;
    margin-top: calc(2.57143rem + 0.5vw); }

.post {
  position: relative;
  overflow: hidden; }
  .post__featured-image {
    display: block;
    height: 0;
    margin: 0;
    position: relative;
    width: 100%; }
    .post__featured-image > img {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .post__featured-image > figcaption {
      background: rgba(132, 136, 142, 0.2);
      border-radius: 3px;
      color: #ffffff;
      font-size: 0.59672rem;
      padding: 0 0.38571rem;
      position: absolute;
      right: calc(1.02857rem + 0.5vw); }
      @media all and (max-width: 37.4375em) {
        .post__featured-image > figcaption {
          bottom: 0.77143rem; } }
      @media all and (min-width: 37.5em) and (max-width: 56.1875em) {
        .post__featured-image > figcaption {
          bottom: 4.62857rem; } }
      @media all and (min-width: 56.25em) and (max-width: 74.9375em) {
        .post__featured-image > figcaption {
          bottom: 0.77143rem; } }
      @media all and (min-width: 75em) {
        .post__featured-image > figcaption {
          bottom: 4.62857rem; } }
      @media all and (min-width: 37.5em) {
        .main--full .post__featured-image > figcaption {
          bottom: 4.62857rem;
          right: calc(2.05714rem + 0.5vw); } }
    @media all and (max-width: 37.4375em) {
      .post__featured-image + .post__header {
        margin: 0;
        padding: 1.8rem 0 0; } }
    @media all and (min-width: 37.5em) and (max-width: 56.1875em) {
      .post__featured-image + .post__header {
        margin: /*-3.85714rem*/0rem calc(1.02857rem + 0.5vw) 0;
        padding: 1.8rem 2.05714rem 0; } }
    @media all and (min-width: 56.25em) and (max-width: 74.9375em) {
      .post__featured-image + .post__header {
        margin: 0;
        padding: 1.8rem 0 0; } }
    @media all and (min-width: 75em) {
      .post__featured-image + .post__header {
        margin: /*-3.85714rem*/0rem calc(1.02857rem + 0.5vw) 0;
        padding: 1.8rem 2.05714rem 0; } }
    @media all and (min-width: 37.5em) {
      .main--full .post__featured-image + .post__header {
        margin: /*-3.85714rem*/0rem calc(2.05714rem + 0.5vw) 0;
        padding: 1.8rem 2.05714rem 0; } }
  .post__header {
    margin-top: 0;
    padding: 0 2.05714rem 0; }
  .post__image--left {
    float: left;
    margin-bottom: 2.82857rem;
    margin-right: 2.82857rem;
    max-width: 50%; }
  .post__image--right {
    float: right;
    margin-bottom: 2.82857rem;
    margin-left: 2.82857rem;
    max-width: 50%; }
  .post__image--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  @media all and (min-width: 56.25em) {
    .main--full .post__image--wide,
    .main--full .post__image--full {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      padding: 0 calc(2.57143rem + 0.5vw);
      text-align: center; } }
  .post__image > img {
    height: auto;
    width: 100%; }
    @media all and (min-width: 56.25em) {
      .post__image > img {
        max-width: calc(46rem + 17rem + 3.85714rem + 1vw); } }
  .post__video {
    height: 0;
    overflow: hidden;
    padding-top: 1.54286rem;
    padding-bottom: 56.25%;
    position: relative; }
    .post__video > iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .post__entry {
    margin: calc(2.31429rem + 0.5vw) auto;
    margin-bottom: 0;
    max-width: 46rem; }
    .post__entry > :nth-child(1) {
      margin-top: 0; }
    .post__entry a {
      color: #448aff;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out; }
    .post__entry a:hover {
      color: #448aff; }
    .post__entry a:active {
      color: #448aff; }
    .post__entry a:focus {
      color: #448aff; }
    .post__entry a:hover {
      text-decoration: underline;
      -webkit-text-decoration-skip: ink;
      text-decoration-skip: ink; }
  .post__toc h3 {
    font-size: 1.13778rem; }
    @media screen and (min-width: 20rem) {
      .post__toc h3 {
        font-size: calc(1.13778rem + 0 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      .post__toc h3 {
        font-size: 1.13778rem; } }
  .post__toc ul {
    counter-reset: item;
    list-style: decimal;
    margin: calc(0.51429rem + 0.25vw) 0 0 1rem; }
    .post__toc ul li {
      counter-increment: item;
      padding: 0; }
    .post__toc ul ul {
      margin-top: 0; }
      .post__toc ul ul li {
        display: block; }
        .post__toc ul ul li:before {
          content: counters(item, ".") ". ";
          margin-left: -20px; }
  .post__lead {
    font-size: 1.13778rem; }
    @media screen and (min-width: 20rem) {
      .post__lead {
        font-size: calc(1.13778rem + 0.15676 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      .post__lead {
        font-size: 1.29454rem; } }
  .post__footer {
    margin-top: 3.08571rem; }
    @media all and (max-width: 37.4375em) {
      .post__footer {
        text-align: center; } }
    @media all and (min-width: 37.5em) {
      .post__footer__col {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .post__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: calc(1.54286rem + 0.5vw) auto;
    margin-bottom: 0; }
    @media all and (max-width: 37.4375em) {
      .post__aside {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media all and (min-width: 37.5em) and (max-width: 56.1875em) {
      .post__aside {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media all and (min-width: 56.25em) and (max-width: 74.9375em) {
      .post__aside {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media all and (min-width: 75em) {
      .post__aside {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media all and (min-width: 56.25em) and (max-width: 74.9375em) {
      .main--full .post__aside {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .post__last-updated {
    margin-top: 0.77143rem; }
  .post__share {
    margin: 0.77143rem 0 0 auto; }
    @media all and (max-width: 37.4375em) {
      .post__share {
        margin-left: 0; } }
    @media all and (min-width: 56.25em) and (max-width: 74.9375em) {
      .post__share {
        margin-left: 0; } }
    .post__share > a {
      display: inline-block;
      height: 2.31429rem;
      line-height: 2.31429rem;
      margin: 0.25714rem 0.25714rem 0 0;
      text-align: center;
      width: 2.31429rem; }
      .post__share > a:hover {
        text-decoration: none; }
      .post__share > a > svg {
        fill: #ffffff;
        pointer-events: none; }
  .post__tag {
    margin-left: 0; }
    .post__tag li {
      display: inline-block;
      list-style: none;
      margin-bottom: 1.02857rem;
      padding: 0 0.25714rem 0 0; }
      .post__tag li > a {
        font: 500 0.7242rem "Roboto", sans-serif;
        letter-spacing: 0.02rem;
        padding: 0.64286rem 1.54286rem; }
  .post__nav {
    border-top: 1px solid #e1e2e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .post__nav__link {
      color: #6b6d72; }
      @media all and (min-width: 37.5em) {
        .post__nav__link {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      .post__nav__link > img {
        width: 100px; }
        @media all and (max-width: 37.4375em) {
          .post__nav__link > img {
            display: none; } }
      .post__nav__link:hover {
        text-decoration: none; }
        .post__nav__link:hover h5 {
          -webkit-transition: all 0.12s linear;
          -o-transition: all 0.12s linear;
          transition: all 0.12s linear;
          color: #448aff; }
    .post__nav h5 {
      font-size: 0.87891rem;
      margin: 0;
      position: relative;
      text-transform: none; }
    .post__nav__prev {
      max-width: 48%;
      text-align: left; }
      .post__nav__prev img {
        margin-right: 1.02857rem; }
    .post__nav__next {
      max-width: 48%;
      margin-left: auto;
      text-align: right; }
      .post__nav__next img {
        margin-left: 1.02857rem; }
  .post__bio {
    border-top: 5px solid #448aff; }
  .post__related {
    border-top: 1px solid #e1e2e3; }
    .post__related__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 1.54286rem -2% 0;
      width: 104%; }
      .post__related__wrap figure {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 0;
        padding: 0.77143rem 2% 0; }
        @media all and (min-width: 37.5em) {
          .post__related__wrap figure {
            -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%; } }
        .post__related__wrap figure a > img {
          width: 100%; }
      .post__related__wrap figcaption {
        font-style: normal;
        text-align: left; }
      .post__related__wrap h4 {
        font-size: 0.9375rem;
        margin: 1.54286rem 0 0.77143rem; }

.comments__inner {
  border-top: 1px solid #e1e2e3;
  margin-top: calc(2.05714rem + 0.5vw);
  padding-top: calc(2.05714rem + 0.25vw); }

.page {
  border-bottom: 1px solid #e1e2e3;
  margin-bottom: calc(2.57143rem + 0.5vw);
  padding-bottom: calc(2.05714rem + 0.25vw); }
  .page__title {
    margin: 0; }
  .page p {
    font-size: 0.87891rem;
    margin: 0.77143rem 0 0; }

.banner {
  text-align: center; }
  .banner--before-post {
    margin-bottom: calc(2.05714rem + 0.5vw); }
  .banner--after-post {
    border-top: 1px solid #e1e2e3;
    margin-top: calc(2.05714rem + 0.5vw);
    padding-top: calc(2.05714rem + 0.25vw); }

.search__form {
  margin-top: calc(1.8rem + 0.5vw); }
  @media all and (min-width: 37.5em) {
    .search__form {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.search__input {
  width: 100%;
  margin: 0 0 0.25714rem; }
  @media all and (min-width: 37.5em) {
    .search__input {
      margin: 0 0.77143rem 0 0; } }

.gs-webResult {
  border-top: 1px solid #e1e2e3;
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.51429rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1.02857rem 1.54286rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  color: #2c2e35;
  float: left;
  font-family: "Roboto", sans-serif;
  line-height: 0.6;
  margin-right: 0.51429rem;
  padding: 0.51429rem 0.51429rem 0.51429rem 0; }
  .dropcap:first-letter {
    font-size: 2.8084rem; }
    @media screen and (min-width: 20rem) {
      .dropcap:first-letter {
        font-size: calc(2.8084rem + 1.898 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      .dropcap:first-letter {
        font-size: 4.70641rem; } }

.pagination {
  border-top: 1px solid #e1e2e3;
  font: 500 0.7242rem "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 0.02rem;
  margin-bottom: -2.57143rem;
  padding: 1.28571rem 0;
  text-transform: uppercase; }
  .pagination__item {
    display: inline-block;
    line-height: 24px; }
    .pagination__item > svg {
      height: 24px;
      width: 24px;
      vertical-align: top;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out; }
    .pagination__item--prev:hover svg {
      -webkit-transform: translate(-0.25714rem, 0);
      -ms-transform: translate(-0.25714rem, 0);
      transform: translate(-0.25714rem, 0); }
    .pagination__item--next:hover svg {
      -webkit-transform: translate(0.25714rem, 0);
      -ms-transform: translate(0.25714rem, 0);
      transform: translate(0.25714rem, 0); }

.footer {
  border-top: 1px solid #e1e2e3;
  color: #84888e;
  padding: 2.57143rem 0; }
  @media all and (max-width: 56.1875em) {
    .footer {
      text-align: center; } }
  @media all and (min-width: 56.25em) {
    .footer {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; } }
  .footer__logo {
    color: #b4b9c1;
    font: 500 1.29454rem "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: -0.1rem;
    text-transform: uppercase; }
    @media all and (min-width: 56.25em) {
      .footer__logo {
        margin-right: 4rem; } }
  .footer__nav {
    list-style: none;
    margin: 0; }
    @media all and (max-width: 56.1875em) {
      .footer__nav {
        margin-top: 0.77143rem; } }
    .footer__nav-item {
      display: inline-block;
      font-size: 0.82397rem;
      padding: 0 0.77143rem 0 0; }
      .footer__nav-item > a {
        color: #84888e;
        -webkit-transition: all 0.24s ease-out;
        -o-transition: all 0.24s ease-out;
        transition: all 0.24s ease-out; }
      .footer__nav-item > a:hover {
        color: #448aff; }
      .footer__nav-item > a:active {
        color: #448aff; }
      .footer__nav-item > a:focus {
        color: #448aff; }
  @media all and (max-width: 56.1875em) {
    .footer__follow {
      margin-top: 0.77143rem; } }
  @media all and (min-width: 56.25em) {
    .footer__follow {
      margin-left: auto; } }
  .footer__follow > a {
    display: inline-block;
    margin-left: 0.51429rem; }
    .footer__follow > a:hover svg {
      fill: #2c2e35; }
    .footer__follow > a svg {
      fill: #84888e;
      height: 1rem;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out;
      width: 1rem; }
  .footer__copyright {
    border-top: 1px solid #e1e2e3;
    font-size: 0.7242rem;
    margin-top: 2.57143rem;
    padding-top: 2.05714rem;
    width: 100%; }

.gallery {
  margin: calc(1.54286rem + 1vw) -0.51429rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
      flex: 1 0 33.333%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
      flex: 0 1 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
      flex: 0 1 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 14.285%;
      flex: 1 0 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 12.5%;
      flex: 1 0 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.25714rem;
    position: relative; }
    @media all and (min-width: 20em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
        flex: 1 0 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
        flex: 1 0 25%; } }
    .gallery__item a {
      display: block;
      height: 100%;
      width: 100%; }
      .gallery__item a::after {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        bottom: 0.25714rem;
        content: "";
        display: block;
        opacity: 0;
        left: 0.25714rem;
        height: calc(100% - 0.51429rem);
        position: absolute;
        right: 0.25714rem;
        top: 0.25714rem;
        -webkit-transition: all .24s ease-out;
        -o-transition: all .24s ease-out;
        transition: all .24s ease-out;
        width: calc(100% - 0.51429rem); }
      .gallery__item a:hover::after {
        opacity: 1; }
    .gallery__item img {
      display: block;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    .gallery__item figcaption {
      bottom: 1.2rem;
      color: #ffffff;
      left: 50%;
      opacity: 0;
      position: absolute;
      text-align: center;
      -webkit-transform: translate(-50%, 1.2rem);
      -ms-transform: translate(-50%, 1.2rem);
      transform: translate(-50%, 1.2rem);
      -webkit-transition: all .24s ease-out;
      -o-transition: all .24s ease-out;
      transition: all .24s ease-out; }
    .gallery__item:hover figcaption {
      opacity: 1;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.pswp--dark .pswp__bg {
  background: #000; }

.pswp--light .pswp__bg {
  background: #ffffff; }

.pswp--light .pswp__counter {
  color: #2c2e35; }

.pswp--light .pswp__caption__center {
  color: #2c2e35; }
